# general things to ignore
build/
dist/
.eggs/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# docs
docs/_build
docs/_static
docs/_templates

scratch.py
